# Base del proyecto
#RewriteBase /administratorpampago/servidor/
# Redirigir TODO a index.php

RewriteEngine On

# permitir acceso directo
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# redirigir a index.php
RewriteRule ^(.*)$ index.php [QSA,L]